{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
    <title>Ramdomizer</title>
  </head>
  <body>
    <div class="divi">
      <h1>VakioLipuke</h1>
    </div>
    <div class="container">
      <div class="divi inline left">
        <p class="gameMode">
          <form>
            <label for="games">Valitse kohdemäärä:</label>
            <select id="games" name="games">
            <option>13</option>
            </select>
          </form>
        </p>
      </div>
      <div class="divi inline right">
        <p>Valitse pelimuoto (Järjestelmä vai Harava?)</p>
      </div>
    </div>
    <div class="container">
      <div class="divi inline left">
        <p>Tähän renderöidään rivi</p>
      </div>
      <div class="divi inline right">
        <p>Valinnat ja lopputulos</p>
      </div>
    </div>
  </body>
</html>
