{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
    <title>Ramdomizer</title>
  </head>
  <body>
    <div class="divi">
      <h1>VakioLipuke</h1>
    </div>
    <div class="container">
      <div class="divi inline left">
        <p class="gameMode">Vakio 1</p>
      </div>
      <div class="divi inline right">
        <p>Valitse pelimuoto (Järjestelmä vai Harava?)</p>
      </div>
    </div>
    <div class="container">
      <div class="divi inline left">
        <p class="targets">
          <form action="">
            <label for="gridA">A</label>
            <input type="checkbox" id="1" name="A" value="" onclick="ifChecked(id,name)">
            <label for="checkbox1"></label>
            <input type="checkbox" id="2" name="A" value="" onclick="ifChecked(id,name)">
            <label for="checkbox2"></label>
            <input type="checkbox" id="3" name="A" value="" onclick="ifChecked(id,name)">
            <label for="checkbox3"></label><br>
            <label for="gridB">B</label>
            <input type="checkbox" id="1" name="B" value="" onclick="ifChecked(id,name)">
            <label for="checkbox4"></label>
            <input type="checkbox" id="2" name="B" value="" onclick="ifChecked(id,name)">
            <label for="checkbox5"></label>
            <input type="checkbox" id="3" name="B" value="" onclick="ifChecked(id,name)">
            <label for="checkbox6"></label><br>
            <label for="gridB">C</label>
            <input type="checkbox" id="1" name="C" value="" onclick="ifChecked(id,name)">
            <label for="checkbox7"></label>
            <input type="checkbox" id="2" name="C" value="" onclick="ifChecked(id,name)">
            <label for="checkbox8"></label>
            <input type="checkbox" id="3" name="C" value="" onclick="ifChecked(id,name)">
            <label for="checkbox9"></label><br>
            <label>--------------</label><br>
            <label for="gridA">D</label>
            <input type="checkbox" id="1" name="D" value="" onclick="ifChecked(id,name)">
            <label for="checkbox10"></label>
            <input type="checkbox" id="2" name="D" value="" onclick="ifChecked(id,name)">
            <label for="checkbox11"></label>
            <input type="checkbox" id="3" name="D" value="" onclick="ifChecked(id,name)">
            <label for="checkbox12"></label><br>
            <label for="gridB">E</label>
            <input type="checkbox" id="1" name="E" value="" onclick="ifChecked(id,name)">
            <label for="checkbox13"></label>
            <input type="checkbox" id="2" name="E" value="" onclick="ifChecked(id,name)">
            <label for="checkbox14"></label>
            <input type="checkbox" id="3" name="E" value="" onclick="ifChecked(id,name)">
            <label for="checkbox15"></label><br>
            <label for="gridB">F</label>
            <input type="checkbox" id="1" name="F" value="" onclick="ifChecked(id,name)">
            <label for="checkbox16"></label>
            <input type="checkbox" id="2" name="F" value="" onclick="ifChecked(id,name)">
            <label for="checkbox17"></label>
            <input type="checkbox" id="3" name="F" value="" onclick="ifChecked(id,name)">
            <label for="checkbox18"></label><br>
            <label>--------------</label><br>
            <label for="gridA">G</label>
            <input type="checkbox" id="1" name="G" value="" onclick="ifChecked(id,name)">
            <label for="checkbox19"></label>
            <input type="checkbox" id="2" name="G" value="" onclick="ifChecked(id,name)">
            <label for="checkbox20"></label>
            <input type="checkbox" id="3" name="G" value="" onclick="ifChecked(id,name)">
            <label for="checkbox21"></label><br>
            <label for="gridB">H</label>
            <input type="checkbox" id="1" name="H" value="" onclick="ifChecked(id,name)">
            <label for="checkbox22"></label>
            <input type="checkbox" id="2" name="H" value="" onclick="ifChecked(id,name)">
            <label for="checkbox23"></label>
            <input type="checkbox" id="3" name="H" value="" onclick="ifChecked(id,name)">
            <label for="checkbox24"></label><br>
            <label for="gridB">I</label>
            <input type="checkbox" id="1" name="I" value="" onclick="ifChecked(id,name)">
            <label for="checkbox25"></label>
            <input type="checkbox" id="2" name="I" value="" onclick="ifChecked(id,name)">
            <label for="checkbox26"></label>
            <input type="checkbox" id="3" name="I" value="" onclick="ifChecked(id,name)">
            <label for="checkbox27"></label><br>
            <label>--------------</label><br>
            <label for="gridA">J</label>
            <input type="checkbox" id="1" name="J" value="" onclick="ifChecked(id,name)">
            <label for="checkbox28"></label>
            <input type="checkbox" id="2" name="J" value="" onclick="ifChecked(id,name)">
            <label for="checkbox29"></label>
            <input type="checkbox" id="3" name="J" value="" onclick="ifChecked(id,name)">
            <label for="checkbox30"></label><br>
            <label for="gridB">K</label>
            <input type="checkbox" id="1" name="K" value="" onclick="ifChecked(id,name)">
            <label for="checkbox31"></label>
            <input type="checkbox" id="2" name="K" value="" onclick="ifChecked(id,name)">
            <label for="checkbox32"></label>
            <input type="checkbox" id="3" name="K" value="" onclick="ifChecked(id,name)">
            <label for="checkbox33"></label><br>
            <label for="gridB">L</label>
            <input type="checkbox" id="1" name="L" value="" onclick="ifChecked(id,name)">
            <label for="checkbox34"></label>
            <input type="checkbox" id="2" name="L" value="" onclick="ifChecked(id,name)">
            <label for="checkbox35"></label>
            <input type="checkbox" id="3" name="L" value="" onclick="ifChecked(id,name)"><br>
            <label for="gridB">M</label>
            <input type="checkbox" id="1" name="M" value="" onclick="ifChecked(id,name)">
            <label for="checkbox36"></label>
            <input type="checkbox" id="2" name="M" value="" onclick="ifChecked(id,name)">
            <label for="checkbox37"></label>
            <input type="checkbox" id="3" name="M" value="" onclick="ifChecked(id,name)">
            <label for="checkbox38"></label>
          </form>
        </p>
      </div>
      <div class="divi inline right">
        <p>Valinnat ja lopputulos</p>
      </div>
    </div>
  </body>
</html>
