{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
    <title>Ramdomizer</title>
  </head>
  <body>
    <div class="divi">
      <h1>VakioLipuke</h1>
    </div>
    <div class="container">
      <div class="divi inline left">
        <p class="gameMode">Vakio 1</p>
      </div>
      <div class="divi inline right">
        <p>Valitse pelimuoto (Järjestelmä vai Harava?)</p>
      </div>
    </div>
    <div class="container">
      <div class="divi inline left">
        <p class="targets">
          <form action="">
            <label for="gridA">A</label>
            <input type="checkbox" id="1" name="A" value="" onclick="ifChecked(id,name)">
            <label for="checkbox1"></label>
            <input type="checkbox" id="2" name="A" value="" onclick="ifChecked(id,name)">
            <label for="checkbox2"></label>
            <input type="checkbox" id="3" name="A" value="" onclick="ifChecked()">
            <label for="checkbox3"></label><br>
            <label for="gridB">B</label>
            <input type="checkbox" id="checkbox4" name="B" value="">
            <label for="checkbox4"></label>
            <input type="checkbox" id="checkbox5" name="B" value="">
            <label for="checkbox5"></label>
            <input type="checkbox" id="checkbox6" name="B" value="">
            <label for="checkbox6"></label><br>
            <label for="gridB">C</label>
            <input type="checkbox" id="checkbox7" name="C" value="">
            <label for="checkbox7"></label>
            <input type="checkbox" id="checkbox8" name="C" value="">
            <label for="checkbox8"></label>
            <input type="checkbox" id="checkbox9" name="C" value="">
            <label for="checkbox9"></label><br>
            <label>--------------</label><br>
            <label for="gridA">D</label>
            <input type="checkbox" id="checkbox10" name="D" value="">
            <label for="checkbox10"></label>
            <input type="checkbox" id="checkbox11" name="D" value="">
            <label for="checkbox11"></label>
            <input type="checkbox" id="checkbox12" name="D" value="">
            <label for="checkbox12"></label><br>
            <label for="gridB">E</label>
            <input type="checkbox" id="checkbox13" name="E" value="">
            <label for="checkbox13"></label>
            <input type="checkbox" id="checkbox14" name="E" value="">
            <label for="checkbox14"></label>
            <input type="checkbox" id="checkbox15" name="E" value="">
            <label for="checkbox15"></label><br>
            <label for="gridB">F</label>
            <input type="checkbox" id="checkbox16" name="F" value="">
            <label for="checkbox16"></label>
            <input type="checkbox" id="checkbox17" name="F" value="">
            <label for="checkbox17"></label>
            <input type="checkbox" id="checkbox18" name="F" value="">
            <label for="checkbox18"></label><br>
            <label>--------------</label><br>
            <label for="gridA">G</label>
            <input type="checkbox" id="checkbox19" name="G" value="">
            <label for="checkbox19"></label>
            <input type="checkbox" id="checkbox20" name="G" value="">
            <label for="checkbox20"></label>
            <input type="checkbox" id="checkbox21" name="G" value="">
            <label for="checkbox21"></label><br>
            <label for="gridB">H</label>
            <input type="checkbox" id="checkbox22" name="H" value="">
            <label for="checkbox22"></label>
            <input type="checkbox" id="checkbox23" name="H" value="">
            <label for="checkbox23"></label>
            <input type="checkbox" id="checkbox24" name="H" value="">
            <label for="checkbox24"></label><br>
            <label for="gridB">I</label>
            <input type="checkbox" id="checkbox25" name="I" value="">
            <label for="checkbox25"></label>
            <input type="checkbox" id="checkbox26" name="I" value="">
            <label for="checkbox26"></label>
            <input type="checkbox" id="checkbox27" name="I" value="">
            <label for="checkbox27"></label><br>
            <label>--------------</label><br>
            <label for="gridA">J</label>
            <input type="checkbox" id="checkbox28" name="J" value="">
            <label for="checkbox28"></label>
            <input type="checkbox" id="checkbox29" name="J" value="">
            <label for="checkbox29"></label>
            <input type="checkbox" id="checkbox30" name="J" value="">
            <label for="checkbox30"></label><br>
            <label for="gridB">K</label>
            <input type="checkbox" id="checkbox31" name="K" value="">
            <label for="checkbox31"></label>
            <input type="checkbox" id="checkbox32" name="K" value="">
            <label for="checkbox32"></label>
            <input type="checkbox" id="checkbox33" name="K" value="">
            <label for="checkbox33"></label><br>
            <label for="gridB">L</label>
            <input type="checkbox" id="checkbox34" name="L" value="">
            <label for="checkbox34"></label>
            <input type="checkbox" id="checkbox35" name="L" value="">
            <label for="checkbox35"></label>
            <input type="checkbox" id="checkbox36" name="L" value=""><br>
            <label for="gridB">M</label>
            <input type="checkbox" id="checkbox36" name="M" value="">
            <label for="checkbox36"></label>
            <input type="checkbox" id="checkbox37" name="M" value="">
            <label for="checkbox37"></label>
            <input type="checkbox" id="checkbox38" name="M" value="">
            <label for="checkbox38"></label>
          </form>
        </p>
      </div>
      <div class="divi inline right">
        <p>Valinnat ja lopputulos</p>
      </div>
    </div>
  </body>
</html>
