body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.divi {
  border-style: dotted;
}

.inline {
  display: inline-block;
  width: 50%;
}

.head {
  background-color: forestgreen;
}
