body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.divi {
  border-style: solid;
}

.inline {
  display: inline-block;
  width: 50%;
}

.head {
  background-color: rgb(68, 188, 68);
}

.formHead {
  background-color: rgb(240, 85, 93);
  padding-top: 2px;
  padding-bottom: 2px;
}

.selF {
  padding-top: 10px;
}
